@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';

body { margin-top: 70px; }
.markdown-input { font-family: 'Consolas'; min-height: 400px; }
.markdown-panel-body { min-height: 450px; }
